.conditionalNavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navTitle{
    font-family: 'Josefin Slab', serif;
    padding-left: 40px;
    font-size: 50px;
    color: #212b31;
}
.navBarContainer{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #0083B2 70%, #FF9625 40%);
}
.navBarContainer p{
    color: #212b31;
    padding-left: 10px;
    font-family: 'Josefin Slab', serif;
}



